<configuration>
	<appender name="jsonConsoleAppender"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<property name="LOG_DIR" value="/var/log/ecc" />
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR}/true_connector_audit_provider.log</file>
		<append>true</append>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<logger name="JSON" level="INFO">
		<!-- <appender-ref ref="jsonConsoleAppender"/> -->
		<appender-ref ref="FILE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
